.progress {
    color: white;
    text-align: center;
    padding: 1px;
    border: thin solid #3adb76;
    background-color: lightgray;
    margin-bottom: 10px;
    width: 100%;
}
.progress-bar {
    background-color:#3adb76;
    height: 1.5em;    
    font-size: .5em;
}