<% provide(:title, "Editing #{@user.name}") %>

<div class="p-users">


  <section class='o-pageContent p-users__content'>
    <div class='o-pageContent__section p-users-content__users container'>

<%= render 'form' %>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>
</section>
</div>
