<% provide(:title, "We Believe") %>

<div class="p-believe">
	<header class='o-pageHeader p-believe__header'>
		<div class='o-pageHeader__overlay'></div>
		<h1>What We Believe</h1>
	</header>


	<section class='o-pageContent p-believe__content'>

		<div class='o-pageContent__section p-believe-content container'>
			<h1>C3 Church is You Becoming You!</h1>
			<h2 class='boxed'>We Believe</h2>
			<ul>
			<li>There is one true God: Father, Son, and Holy Spirit.</li>
			<li>Jesus was not only a historical figure, but the Son of God. He lived a life on earth, both human and divine.</li>
			<li>The Holy Spirit comes and empowers our life, giving birth to new character and new gifts. We are all able to experience being fully immersed in the Spirit and receive a powerful prayer language.</li>
			<li>The Bible is given to us by God as His Word. It shows us how to live.</li>
			<li>We live in a world that is not only natural, but spiritual. There are spiritual forces at work both for good and for evil.</li>
			<li>All people are in need of being connected to God. Our faith in Jesus makes this connection possible.</li>
			<li>Water baptism and the Lord&rsquo;s Supper are powerful spiritual experiences that God uses to connect with us and express the fullness of His love towards us.</li>
			<li>We are spiritual beings who will live for eternity. We get a simple, but life-altering choice &mdash; live with God or live alone.</li>
			<li>The church can be a powerful expression of God on the earth. God&rsquo;s desire is that every believer would be active in the local church, fulfilling the Great Commission.</li>
		</ul>
		</div>

	</section>

</div>
