<% provide(:title, "C3 Kids") %>

<div class="p-kids">
	<header class='o-pageHeader p-kids__header'>
		<div class='o-pageHeader__overlay'></div>
		<h1>C3 Kids</h1>
	</header>


	<section class='o-pageContent p-kids__content'>

		<div class='o-pageContent__section p-kids-content__main container'>
			<h2 class='boxed'>Age 4 & up</h2>
			<p>From the moment you check your kids into our C3 Kids area, they will be having fun. The exciting and engaging program and bible curriculum will have them asking to come back.</p>
			<p>All our kids staff are qualified and background checked so you can rest easy.</p>
		</div>

		<div class='o-pageContent__section p-kids-content__nursery container'>
		<h2 class='boxed'>Age 3 & under</h2>
		<h3>We have a couple of options for the youngest kids depending on which location your are attending.</h3>
		<p>There may be a supervised nursery where the kids will have a great time and won't want to go home.</p>
		<p>And/or... if you just need time with your little one to feed or change them, there is a parents room with a live video feed from the main service.<p>
		</div>

	</section>

</div>
