<% provide(:title, "Meet Our Pastors") %>
<% provide(:description, "Dave and Kim Olson are the lead pastors of C3 Church in Kelowna and Revelstoke. C3 Church is a charismatic, non-denominational church in central BC. Everyone is welcome.") %>

<div class="p-pastors">
	<header class='o-pageHeader p-pastors__header'>
		<div class='o-pageHeader__overlay'></div>
		<h1>Lead Pastors</h1>
	</header>


	<section class='o-pageContent p-pastors__content'>

		<div class='o-pageContent__section p-pastors-content container'>
			<h2 class='boxed'>Dave & Kim Olson</h2>
			<h4>Describe yourself in 3 words:</h4>
			<p>Dave: Introspective, Thoughtful, Creative</br>
			Kim: Inclusive, Friendly, Hospitable</p>

			<h4>What is your favourite thing to do in Kelowna/Revelstoke?</h4>
			<p>Dave: C3 Church (Kelowna/Revelstoke)</br>
			Kim: Wine Tours (Kelowna), Having coffee with the locals (Revelstoke)</p>

			<h4>What was your childhood ambition?</h4>
			<p>Dave: Be a pastor</br>
			Kim: Be a lawyer</p>

			<h4>What inspires you?</h4>
			<p>Dave: just about anything creative or unique, business, art and ideas.</br>
			Kim: My children and grandchildren.</p>

			<h4>What do you collect?</h4>
			<p>Dave: Tools</p>
				</div>

	</section>

</div>
