<% provide(:title, "Editing #{@event.title}") %>

<div class="p-events">


  <section class='o-pageContent p-events__content'>
    <div class='o-pageContent__section p-events-content__editing container'>

      <%= render 'form' %>

      <%= link_to(content_tag(:i, ' Show', class: 'fa fa-search'), @event) %> |
      <%= link_to(content_tag(:i, ' Back', class: 'fa fa-hand-o-left'), :back) %>
    </div>
  </div>
