<% provide(:title, "Give") %>

<div class="p-give">
  <header class='o-pageHeader p-give__header'>
    <div class='o-pageHeader__overlay'></div>
  </header>

  <section class='o-pageContent p-give__content'>

    <div class='o-pageContent__section p-give-content__give container'>
      <div class='row'>
        <div class='six columns'>
          <p>We would love to have you join us in our mission of finding people outside church, bringing them inside and helping them become who they were born to be. Your generosity enables us to help more and more people encounter the presence of God and discover His purpose for their lives. We are truly grateful for your gift and hope the convenience and simplicity of online giving will be helpful to you.
          </p>

        </div>
        <div class='six columns'>
          <p class='disclaimer'>We have partnered with <a href='http://tithe.ly' target='_blank'>Tithe.ly</a> to provide online giving options.</p>
          <p>Please choose your campus/location</p>
          <button class="tithely-give-btn" data-church-id="10826">Kelowna</button>
          <button class="tithely-give-btn" data-church-id="20578">Revelstoke</button>
<script src="https://tithe.ly/widget/v2/give.js?3"></script>
<script>
  var config = {};
  var tw = create_tithely_widget(config);
</script>
      </div>
    </section>
