// Import needed files from /variables

@import "variables/_color.variables",
        "variables/_font.variables";



$mobile: 400px;
$phablet: 550px;
$tablet: 750px;
$desktop: 1000px;
$desktopHD: 1200px;
$menu-width: 50vw;