<% provide(:title, "Editing #{@connect_group.name} Connect Group") %>

<div class="p-connect_groups">


  <section class='o-pageContent p-events__content'>
    <div class='o-pageContent__section p-events-content__connect_groups container'>

      <%= render 'form' %>

      <%= link_to 'Show', @connect_group %> |
      <%= link_to 'Back', connect_groups_path %>
    </div>
  </div>
