<% provide(:title, "New Connect Group") %>

<div class="p-connect_groups">
  <% unless can? :update, @connect_group  %>
  <h1 class='register'>Register Your Connect Group</h1>
<% end %>

  <section class='o-pageContent p-connect_groups__content'>
    <div class='o-pageContent__section p-events-content__connect_groups container'>

      <%= render 'form' %>

      <%= (link_to 'Back', connect_groups_path) if can? :update, @connect_group %>
    </div>
  </div>
