@import "modules/__mixins__";

// Any specific scss for landing pages

.p-toobusy, .p-looking, .p-fullest {
  h1 {margin-top: 33px;text-transform: uppercase; font-weight: bold;font-size: 2em;
    @include breakpoint(medium) {font-size: 4em;}
  }
  text-align: center;
  min-height: 900px;
  width: auto;
  background: url(image_path('toobusy.jpg')) center;
  background-size: cover;
  .p-toobusy__content {
    padding: 20px 10px;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 100;
    color: white;
    div.overlay {
      background: rgba(0, 0, 0, .6);
      padding: 25px;
    }
    p { font-size: 1.5em;
      line-height: 1.4;
      @include breakpoint(medium) {font-size: 3em;}
    }
  }
  a, a:visited {color: white;}
  .button {font-size: 2em; background: orange; color:black; padding: 15px;height: 3em;border-radius:5px;font-weight: lighter;}
}

.p-looking {
  h1 {color: orange;}
  background: url(image_path('looking.jpg')) center;
  .p-looking__content {
    padding: 20px 10px;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 100;
    color: white;
    div.overlay {
      background: rgba(0, 0, 0, .6);
      padding: 25px;
    }
    p { font-size: 1.5em;
      line-height: 1.4;
      @include breakpoint(medium) {font-size: 3em;}
    }
  }
}

.p-fullest {
  background: url(image_path('fullest.jpg')) center;
  .p-fullest__content {
    padding: 20px 10px;
    max-width: 90%;
    margin: 0 auto;
    font-weight: 100;
    color: white;
    div.overlay {
      background: rgba(0, 0, 0, .4);
      padding: 25px;
    }
    p { font-size: 1.5em;
      line-height: 1.4;
      @include breakpoint(medium) {font-size: 3em;}
    }
  }
  .button {background: blue;}
}
