<% provide(:title, "Locations") %>
  <div class="p-all_locations">
    <h1>Our Locations</h1>
    <section class='all_locations'>
      <% @locations.each do |location| %>
        <%=link_to location do %>
          <div class='full width'>
              <div class='location-cropper'>
                <%=image_tag(location.photo.url(:desktop)) %>
              </div>
              <span class='church name'>C3 Church <%=location.name %></span>
              </div>
          <% end %>
            <% end %>
    </section>
  </div>