<h1>Listing Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
    <tr>
      <%= content_tag( :td, link_to(location.name, location)) %>
      <%= content_tag( :td, link_to( 'Edit', edit_location_path(location))) %>
      <%= content_tag( :td, link_to('Destroy', location, method: :delete, data: { confirm: 'Are you sure?' })) %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location ', new_location_path %>
