/*************************************************
 * Variables : Color
 ************************************************/


/**********************
 * Define Colours
 **********************/

  $white      : #FFFFFF;
  $black      : #000000;
  $charcole   : #333333;

  $grey       : #CCCCCC;
  $grey-light : #ECECEC;
  // $grey-dark  : ;

  $blue       : #5493CC;
  // $blue-light : ;
  // $blue-dark  : ;

  $color1     : #f7f4ee;
  $color2     : #327b9e;
  $color3     : #305177;
  $color4     : #6f5060;
  $color5     : #3a3344;

  $admin      : $blue;
  $facebook   : #3b5998;
