
<div id="flash-messages">
  <% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert-box <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
      <%= msg %>
    </div>
  <% end %>
<% end %>
</div>
