<div class='socialize-menu'>
	<ul >
		<li><%= link_to 'http://facebook.com/c3church.ca', target: '_blank' do %>
			<i class="fa fa-facebook fa-2x fa-inverse"></i>
			<% end %>
		</li>
		<li><%= link_to 'http://twitter.com/c3church_ca', target: '_blank' do %>
			<i class="fa fa-twitter fa-2x fa-inverse"></i>
			<% end %>
		</li>
		<li><%= link_to 'http://instagram.com/c3church_ca', target: '_blank' do %>
			<i class="fa fa-instagram fa-2x fa-inverse"></i>
			<% end %>
		</li>
		<li>
		<a href="#">
		<i class='fa fa-phone fa-2x fa-inverse'></i></a>
		</li>
		<li  href='#'>
			<%= link_to '#' do %>
			<i class="fa fa-envelope fa-2x fa-inverse"></i>
			<% end %>
		</li>
	</ul>
</div>
